html , body{
	width: 100%;
	height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	display: flex;
	flex-wrap: wrap;
	font-family: "Helvetica Neue", "Helvetica",sans-serif;
	background: #40434E;
	color: #ffffff;
	font-weight: 100;
}

body > section{
	width: 100%;
}

section > nav {
	width: 100%;
	background-color:  #FDCFF3;
}

section > nav > ul {
	display: inherit;
}

section > nav > ul > li{
	list-style-type: none;
	padding: 1rem 1.2rem;
}

section > nav > ul > li a{
	text-decoration: none;
	color: #40434E;
	white-space: nowrap;
	text-align: center;
	font-size: 1.3em;
}

h1 {
	color: green;
}

.hide{
	display: none;
}

main > section{
		font-weight: 100;
}
